/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

/* navegation */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    float: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* main content */
#banner {
    text-align: center;
    padding: 50px 0;
}

#banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#banner p {
    font-size: 18px;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.artwork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.artwork-item img {
    width: 100%;
    border: 1px solid #ddd;
}

/* submit button */
form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input,
form textarea {
    padding: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

/* footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    font-size: 14px;
}

.social-links {
    list-style-type: none;
    margin-bottom: 20px;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}